<h1>Privacy Policy</h1>
<font size="2" color="lightgrey">June 2016</font>
<br/><br/>Your privacy is important to us. To protect your privacy we provide this notice explaining our privacy practices and the ways your information is collected and used. 
<br/><br/>
This notice applies to all information collected from users or submitted by users on our website. The types of personal information collected includes, but is not limited to: 
<br/><br/>
* Email Address 
<br/>* IP Address 
<br/><br/>
We do not share your email address or IP address with outside parties. This information is used by the moderators of the website to ensure quality control and to communicate with you as necessary. 
<br/><br/>
To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online. 
<br/><br/>
Should you have other questions or concerns about these privacy policies, please contact us at admin@mars-score.com.