<h1>Terms Of Service</h1>
<font size="2" color="lightgrey">June 2016</font>
<h3>Accepting the Terms of Service</h3>
<p>Please read these terms of service ("Agreement") carefully before using this service. By using or accessing the service, you agree to become bound by all the terms and conditions of this Agreement. If you do not agree to all the terms and conditions of this Agreement, do not use the service. The services are accessed by You ("Subscriber" or "You") under the following terms and conditions:</p>
<h3>Terms of Service:</h3>
Any/all malicious, offensive, and/or misrepresentatitve content contribution will result in the offending content and your user account(s) to be removed from the service.


